.post-wrapper {
  color: rgb(3, 203, 127);
  padding: 40px 40px;
  border: 1px solid rgb(99, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-wrapper h2 {
  margin-left: 30px;
}

.name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(119, 0, 255);
}

.name-wrapper h3 {
  margin-right: 20px;
}

.delete-btn {
  background-color: aqua;
  cursor: pointer;
}
